:root{
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1.1rem;
    margin: 1.1rem;
    background-color: #f0f0f0;
    border-radius: 0.8rem;
    justify-content: space-between;
}

article .dados_contato{

    display: flex;
    flex-direction: column;

}

.dados_contato p{
    margin: 0 0.1rem 0.8rem 0;
}

.dados_contato h3{
    margin: 0 0.1rem 0.8rem 0;
}

.botoes_card{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.botoes_card a{
    padding: 0.2rem .5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.b_excluir{
    background-color: #ff4d4d;
    color: white;
}

.b_editar{
    background-color: #4d77ff;
    color: white;
}

.icone_usuario{
    width:1.5rem; 
    height:1.5rem; 
    vertical-align:middle; 
    margin-right:5px;
}


.form_cria{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.form_cria div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1rem;
}



.input_nome, .input_email, .input_telefone{
    width: 100%;
    padding: 0.5rem;
    margin: .2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn_cadastrar{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #4d77ff;
    color: white;
    cursor: pointer;
}

.form_pesquisa{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: #f0f0f067;
    border-radius: 0.8rem;
}

.form_pesquisa .input_pesquisa{
    width: 100%;
    padding: 0.5rem;
    margin: .2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn_buscar{
    width: 40%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #4d77ff;
    color: white;
    cursor: pointer;
}

.btn_limpar{
    width: 40%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
